@import "./component/Header/style";
@import "./component/Footer/style";
@import "./component/View/style";

.page-main {
    position: relative;
    overflow: hidden;
    background-color: $page-background-color;

    > .scroll-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }
}

//路由过渡动画
.right-out,
.left-out {
    &-leave-active,
    &-enter-active {
        position: absolute;
        transition: transform .2s, opacity .2s;
    }
}

.right-out {
    &-enter {
        opacity: 0;
        transform: translateX(-30px);
    }

    &-leave-to {
        opacity: 0;
        transform: translateX(30px);
    }
}

.left-out {
    &-enter {
        opacity: 0;
        transform: translateX(30px);
    }

    &-leave-to {
        opacity: 0;
        transform: translateX(-30px);
    }
}
