@import "./component/Content/style";
@import "./component/Iframe/style";

.page-main {
    position: relative;
    overflow: hidden;
    background-color: $page-background-color;
}

//路由过渡动画
.right-out,
.left-out {
    &-leave-active,
    &-enter-active {
        transition: transform .2s, opacity .2s;
    }
}

.right-out {
    &-enter {
        opacity: 0;
        transform: translateX(-30px);
    }

    &-leave-to {
        opacity: 0;
        transform: translateX(30px);
    }
}

.left-out {
    &-enter {
        opacity: 0;
        transform: translateX(30px);
    }

    &-leave-to {
        opacity: 0;
        transform: translateX(-30px);
    }
}
