@import "./DefaultSidebar/style";

.aside {
    box-shadow: 1px 0 4px rgba(0, 0, 0, .5);
    z-index: $header-z-index - 1;

    //移动端下不能设置z-index，否则会被el-drawer的遮罩遮住
    @media (max-width: $max-mobile-width) {
        z-index: unset !important;
    }

    //侧边栏底部区域
    .sidebar-footer {
        border-top-width: 1px;
        border-top-style: solid;
    }

    //底部汉堡包
    .hamburger {
        padding-left: $menu-padding;
        height: 48px;
        line-height: 48px;
        font-size: $menu-icon-size;
        cursor: pointer;
    }
}

/* 侧边栏切换动画 */

.sidebar-enter-active {
    transition: all 0.2s;
}

.sidebar-enter,
.sidebar-leave-active {
    opacity: 0;
    transform: translateY(30px) skewY(10deg)
}

.sidebar-leave-active {
    position: absolute;
}

@import "./theme-light";
@import "./theme-dark";
