.aside.light {
    .logo-container {
        color: $--color-primary;
    }

    .root-sidebar {
        background-color: $--color-white;
        border-right-color: $--border-color-light;
    }

    .sidebar-footer {
        border-top-color: $--border-color-light;
    }

    .hamburger {
        color: $menu-text-color-light;
    }
}
