@mixin common {
    height: 100%;
    width: $aside-width;
    transition: width 0.2s;

    > .el-menu {
        flex: 1;
    }

    &.collapse {
        width: $aside-collapse-width;
    }
}

.root-sidebar {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    border-right-width: 1px;
    border-right-style: solid;

    @include common;

    .el-menu-item {
        padding: 0 $menu-padding;
    }

    //收起时不显示背景色和小竖条
    &.collapse .el-menu-item {
        &::before,
        &::after {
            display: none;
        }
    }

    &-container {
        float: left;
        position: relative;
        width: $aside-collapse-width;
        height: 100%;
    }
}

.sub-sidebar {
    display: flex;
    flex-direction: column;

    @include common;

    &-title {
        height: $nav-height;
        line-height: $nav-height;
        padding-left: $menu-padding;
        font-size: 16px;
    }
}
