@import "~element-ui/packages/theme-chalk/src/common/var";
@import "./component/checkbox/style";

.setting-drawer {
    overflow-y: auto;

    .el-drawer__body {
        padding: 24px;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        color: $--color-text-regular;
        font-size: 14px;
        padding: 12px 0;
    }

    .el-button {
        width: 100%;
    }
}
