.context-menu {
    margin: 0;
    background-color: $menu-background-dark;
    z-index: $--index-popper;
    position: fixed;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 12px;
    color: $--color-white;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);

    &-item {
        margin: 0;
        padding: 7px 16px;
        cursor: pointer;

        &:hover {
            color: $--color-primary;
        }
    }
}
