.breadcrumb {
    white-space: nowrap;
    font-size: $--font-size-base;

    &-separator {
        margin: 0 9px;
        color: $--color-text-placeholder;
    }

    &-item {
        display: inline-block;

        &:not(:last-child) .breadcrumb-inner {
            color: $--color-text-regular;
            transition: $--color-transition-base;
            cursor: pointer;

            &:hover {
                color: $--color-primary;
            }
        }

        &:last-child .breadcrumb-inner {
            color: $--color-text-secondary;
        }
    }
}
