@mixin common {
  height: 100%;
  width: $aside-width;
  transition: width 0.2s;

  &.collapse {
    width: $aside-collapse-width;
  }
}

.root-sidebar {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  border-right-width: 1px;
  border-right-style: solid;

  @include common;

  .el-menu-item {
    padding: 0 $menu-padding;
  }

  // 收起时
  &.collapse {
    .logo-container {
      padding-left: ($aside-collapse-width - $logo-size) / 2;
    }

    // 不显示背景色和小竖条
    .el-menu-item {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &-container {
    float: left;
    position: relative;
    width: $aside-collapse-width;
    height: 100%;
  }
}

.sub-sidebar {
  display: flex;
  flex-direction: column;

  > .el-menu {
    flex: 1;
  }

  @include common;

  &-title {
    height: $header-height;
    line-height: $header-height;
    padding-left: $menu-padding;
    font-size: 16px;
  }
}

@import './theme-dark';
