@import "./var";

@import "~el-admin-layout/src/component/Aside/style";
@import "~el-admin-layout/src/component/Navbar/style";
@import "~el-admin-layout/src/component/Page/style";
@import "~el-admin-layout/src/component/TagsView/style";

@import "~el-admin-layout/src/component/Breadcrumb/style";
@import "~el-admin-layout/src/component/Hamburger/style";
@import "~el-admin-layout/src/component/Logo/style";
@import "~el-admin-layout/src/component/NavMenu/style";

.app-wrapper.flex-column,
.main-container.flex-column {
    flex-direction: column;
}

.app-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }

    > .main-container {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    //左右结构时，侧边栏z-index需大于导航栏
    //上下结构时，侧边栏z-index需小于导航栏
    &.flex-column .aside {
        z-index: 9;
    }
}

@media only screen and (max-width: $max-mobile-width) {
    .hide-on-mobile {
        display: none !important
    }
}
