@import "~element-ui/packages/theme-chalk/src/common/var.scss";

//移动端的最大宽度
//值变动时需同时修改../config/const.js maxMobileWidth
$max-mobile-width: 500px !default;

//logo的宽高
$logo-size: 30px !default;

//菜单中icon的大小
$menu-icon-size: 16px !default;
//菜单中icon和文字的距离
$menu-icon-text-gap: 10px !default;
//菜单的padding
//值变动时需同时修改../store/aside.js inlineIndent
$menu-padding: $menu-icon-size + $menu-icon-text-gap !default;
//暗色菜单的背景色
$menu-background-dark: #304156 !default;
//暗色子级菜单的背景色
$sub-menu-background-dark: darken($menu-background-dark, 5%) !default;
//亮色菜单的文字颜色
$menu-text-color-light: $--color-text-primary !default;
//暗色菜单的文字颜色
$menu-text-color-dark: rgba(255, 255, 255, .65) !default;
//亮色菜单的文字hover颜色
$menu-text-hover-color-light: $--color-primary !default;
//暗色菜单的文字hover颜色
$menu-text-hover-color-dark: $--color-white !default;

//侧边栏宽度
$aside-width: 208px !default;
//侧边栏折叠时的宽度
$aside-collapse-width: $menu-icon-size + $menu-padding * 2 !default;

//顶栏高度
$header-height: 48px !default;
//顶栏的padding-left
$header-padding-left: 12px !default;
//暗色顶栏的背景色
$header-background-dark: #1f293d !default;
//亮色顶栏的功能项颜色
$header-item-color-light: $menu-text-color-light !default;
//暗色顶栏的功能项颜色
$header-item-color-dark: rgba(255, 255, 255, .85) !default;
//亮色顶栏的功能项hover背景颜色
$header-item-hover-color-light: rgba(0, 0, 0, .025) !default;
//暗色顶栏的功能项hover背景颜色
$header-item-hover-color-dark: lighten($header-background-dark, 5%) !default;
//主要用于区分侧边栏、顶栏、页签栏的阴影，不建议修改
$header-z-index: 10;

//页签栏高度
$tags-view-height: 32px !default;
//页签栏背景色
$tags-view-background-color: #f0f2f5 !default;

//页面背景色
$page-background-color: #f0f2f5 !default;
//页头高度，用于max-view-height
$page-header-height: 44px !default;
//页头的上下padding
$page-header-padding: 12px !default;
//路由页面的margin
$page-view-margin: 24px !default;
//页脚高度，用于max-view-height
$page-footer-height: 64px !default;

//暗色边框的颜色，用于nav-menu和侧边栏
$--border-color-dark: darken($header-background-dark, 5%) !default;
