.header.light {
    background-color: $--color-white;

    .logo-container {
        color: $--color-primary;
    }

    .header-item {
        color: $header-item-color-light;

        &:hover {
            background-color: $header-item-hover-color-light;
        }
    }
}
