@import "~el-admin-layout/src/style/var";

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $aside-width;
    transition: width 0.2s;

    .el-menu--vertical {
        flex: 1;
    }

    &.collapse {
        width: $aside-collapse-width;

        .menu-item-content {
            display: none;
        }
    }
}

//页面为上下结构时，侧边栏的抽屉模式需要扣除导航栏的高度
.el-drawer.behind-header {
    top: $nav-height;
}
