.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $aside-width;
    transition: width 0.2s;

    &:focus {
        outline: none;
    }

    > .el-menu {
        flex: 1;
    }

    &.collapse {
        width: $aside-collapse-width;
    }
}

//侧边栏抽屉模式
.sidebar-drawer {
    //页面为上下结构时，侧边栏的抽屉模式需要扣除导航栏的高度
    &.behind-header {
        top: $nav-height;
    }

    //为了<el-menu>能够滚动
    > .el-drawer__body {
        height: 100%;
    }
}
