.el-menu--dark {
    //侧边栏垂直菜单
    &.el-menu--vertical {
        //背景色
        &.el-menu,
        > .el-menu {
            background-color: $menu-background-dark;
        }

        //菜单的文字以及hover颜色
        .el-menu-item,
        .el-submenu__title {
            color: $menu-text-color-dark;

            &:hover {
                color: $menu-text-hover-color-dark;
            }
        }

        //设置了显示弹出菜单的父级
        .el-menu--popup .popover-menu__title {
            color: $menu-text-hover-color-dark;
            border-bottom-color: $--border-color-dark;
        }

        //子级菜单的背景颜色和内阴影
        .el-menu--inline {
            background-color: $sub-menu-background-dark;
            box-shadow: inset 0 2px 8px darken($sub-menu-background-dark, 10%)
        }
    }

    //顶部水平菜单
    &.el-menu--horizontal {
        //背景色
        &.el-menu,
        > .el-menu {
            background-color: $header-background-dark;
        }

        //菜单的文字以及hover颜色
        .el-menu-item,
        .el-submenu__title {
            color: $menu-text-color-dark;

            &:hover {
                color: $menu-text-hover-color-dark;
            }
        }

        //hover时不显示下边框
        &.el-menu {
            > .el-menu-item,
            > .el-submenu > .el-submenu__title {
                border-bottom: none !important;
            }
        }
    }
}
