@import "~el-admin-layout/style/var";

.logo-container {
    width: 100%;
    height: $nav-height;
    padding: 0 $menu-padding;

    .logo-link {
        display: flex;
        align-items: center;
        height: 100%;

        > img {
            height: $logo-size;

            & + h1 {
                margin-left: 12px;
            }
        }

        > h1 {
            flex: 1;
            margin: 0;
            color: $--color-primary;
            font-weight: 600;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &.no-title {
        padding-left: ($aside-collapse-width - $logo-size) / 2;
    }
}

.dark .logo-container .logo-link > h1 {
    color: $--color-white;
}
