//演示页面样式修改
.demo .theme-default-content
    max-width: 1200px

    div[class*="language-"]
        pre
            margin-top: 3px
            margin-bottom: 0

        @media (max-width: 419px)
            margin: 0
