.horizontal-scroller {
  display: flex;
  position: relative;
  height: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  & > * {
    flex-shrink: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
